{% load i18n standard_form %}
{% if input_type == 'radiocheck' %}
	<label class="empty">&nbsp;</label>
	<div class="field">
		<label>
			{% standard_widget field options placeholder=placeholder input_type=input_type custom_class=custom_class %}
			{{ field.label }}{% if not no_required_helper and field.field.required %} <abbr title="{% trans 'required' %}">*</abbr>{% endif %}
			{% if not no_help_text and field.help_text %}<span class="text-help">{{ field.help_text }}</span> {% endif %}
			{% if not no_error_text %}{% for error in field.errors %}<span class="text-error">{{ error }}</span> {% endfor %}{% endif %}
		</label>
	</div>
{% else %}
	<label for="id_{{ field.html_name }}">{{ field.label }}{% if not no_required_helper and field.field.required %} <abbr title="{% trans 'required' %}">*</abbr>{% endif %}</label>
	<div class="field">
		{% standard_widget field options placeholder=placeholder input_type=input_type custom_class=custom_class %}
		{% if not no_help_text and field.help_text %}<span class="text-help">{{ field.help_text }}</span> {% endif %}
		{% if not no_error_text %}{% for error in field.errors %}<span class="text-error">{{ error }}</span> {% endfor %}{% endif %}
	</div>
{% endif %}